<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/index.css" type="text/css">
    <title>Latest News</title>
</head>

<body>
    <main>
        <h1>Latest News</h1>
        {% for article in articles: %}
        <article>
            <h2>
                <a href="/read/{{ article.id }}">{{ article.title }}</a>
            </h2>
            <div class="source">
                From
                <a href="{{ article.source.link }}">
                    {{ article.source.title }}
                </a>
            </div>
            <div class="added">
                {{ article.date_added }}
            </div>
            <div class="body">
                {{ article.body }}
            </div>
        </article>
        {% endfor %}
    </main>
</body>

</html>